---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center">
		<div class="min-w-[70vw] mt-[200px] px-20 flex items-center relative">
			<div class="w-1/2">
				<h1 class="text-[3.5rem] font-[600] leading-snug mb-6">
					Empieza a dar 
					<br>
					clases particulares
					<br>
					¡Hoy mismo!
				</h1>
				<p>
					¡Si quieres, puedes! Ya no hace falta que cuelgues carteles, 
					regístrate en Tutorium y consigue alumnos fácilmente. 
				</p>
				<p>
					Matemáticas, Inglés, Baile, Música y muchas asignaturas más.
					En Tutorium, si eres bueno en algo, puedes dar clases de ello.
				</p>
			</div>
			<img 
				src="/mockup.webp" 
				alt=""
				width="500px"
				class="absolute pt-10 right-20 rotate-6"
			>
		</div>
	</main>
</Layout>
