---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center">
		<div class="min-w-[70vw] mt-[200px] px-10">
			<h1 class="text-[3.5rem] font-[600] leading-snug mb-6">
				Empieza a dar 
				<br>
				clases particulares
				<br>
				¡Hoy mismo!
			</h1>
			<p>
				¡Si quieres, puedes! Ya no hace falta que cuelgues carteles, 
				regístrate en Tutorium y consigue alumnos fácilmente. 
			</p>
			<p>
				Matemáticas, Inglés, Baile, Música y muchas asignaturas más.
				En Tutorium, si eres bueno en algo, puedes dar clases de ello.
			</p>
		</div>
	</main>
</Layout>
