---
---

<header class="flex items-center justify-center">
    <nav class="flex items-center justify-center lg:justify-between h-24 min-w-[70vw]">
        <span class="font-[650] lg:text-3xl text-2xl">Tutorium</span>
        <ul class="hidden space-x-7">
            <li>
                <a href="#"class="flex items-center justify-center transition-all duration-150 font-[450]">
                    Descargar
                </a>
            </li>
            <li>
                <a href="#"class="flex items-center justify-center transition-all duration-150 font-[450]">
                    Caracterísitcas
                </a>
            </li>
        </ul>
    </nav>
</header>